{% extends 'base.html.twig' %}
{% block title %}Accueil - Chess Teams{% endblock %}
{% block body %}
  <section style="max-width:680px;margin:40px auto;font-family:system-ui;">
    <h1>Chess Teams — Bootstrap OK</h1>
<div data-controller="hello" data-hello-name-value="Cédric">
  Chargement…
</div>

  </section>
{% endblock %}
