<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Chess Teams{% endblock %}</title>
    {{ importmap('app') }} {# requis pour AssetMapper #}
    {# {{ stimulus_controller('@symfony/ux-turbo/turbo') }}  #}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
