<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Chess Teams
			{% endblock %}
		</title>
		{{ importmap('app') }}
		{% block styles %}{% endblock %}
	</head>
	<body>
		<header style="padding:1rem;border-bottom:1px solid #eee">
			<a href="{{ path('app_home') }}">Chess Teams</a>
		</header>

		<main style="max-width:1100px;margin:1rem auto;padding:0 1rem"> {% block body %}{% endblock %}
			</main>
		</body>
	</html>
